<h1>おすすめ料理 投稿一覧</h1>
<% @foods.each do |food| %>
  <p>【メールアドレス】<%= food.user.email %></p>
  <p>【料理名】<%= food.name %></p>
  <% if food.liked_by?(current_user) %>
    <%= link_to "★", food_likes_path(food), method: :delete %>
  <% else %>
    <%= link_to "☆", food_likes_path(food), method: :post %>
  <% end %>
  <%= link_to "詳細", food %>
  <% if current_user.id == food.user_id %>
    <%= link_to "編集", edit_food_path(food) %>
    <%= link_to "削除", food_path(food), method: :delete, data: {confirm: "削除しますか？"} %>
  <% end %>
  <hr>
<% end %>
